@{
    ViewBag.Title = "About";
}
<h2>About</h2>

<div class="textAbout">
    <p><b>Where's My Money?</b> allows you to keep track of your incomes and expenses.</p>

    <h3>Quick Guide</h3>
    <p>After you are Loged in, just go to View Movements and start adding your first expense or income by pressing on <b>Create New</b> button.</p>
    <p>Select the <b>Date</b>, <b>Value</b>, <b>Type</b> and <b>Category</b>. If you want, you can add a personalized <b>Note</b>.</p>
    <p>Click on <b>Create</b>, and <b>That's' It</b>.</p>
    <p>You can add as many movemets as you want</p>

    <h3>What if you cant't find a suitable category for you movement?</h3>
    <p>No problem, just go to <b>Categories</b> and create one that suits your needs.</p>


</div>

<div class="jumbotron aboutJumbo">
    @*<h1 class="homeTitle">Where's My Money?</h1>*@

</div>