@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>You can find us here:</h3>

<div class="container-fluid">
    <div class="col-md-4 contactAdress">
        <address>
            Str. Rovine<br />
            Targu-Mures, Mures<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <iframe class="contactHarta" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2744.4419991502723!2d24.591190951400396!3d46.53894266900477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDbCsDMyJzIwLjIiTiAyNMKwMzUnMzYuMiJF!5e0!3m2!1sro!2sro!4v1636553159265!5m2!1sro!2sro";" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>

