@{
    ViewBag.Title = "Where's My Money?";
}

<div class="jumbotron homeJumbo">
    <h1 class="homeTitle">Where's My Money?</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            <b>Where's My Money?</b> allows you to keep track of your incomes and expenses.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To start using this amazing app, first you have to
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-default" })
        </p>
             

    </div>
    <div class="col-md-4">
        <h2>I'am a New User</h2>
        <p>If you don't already have an account, you can create one here: </p>
        <p> @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })</p>
    </div>
</div>